################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AFJ.Empregos.Desafio.WebAPI/v15
